/*font-family: "Raleway", sans-serif;*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.head-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo .logo-darck {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.promo {
  background-color: #2e2f42;
}
.promo-txt {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.promo-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
}

.promo-button:hover,
.promo-button:focus {
  background-color: #404bbf;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.val-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.third-level {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.val-item {
  width: calc((100%-78px) / 4);
}
.heading-pr {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.txt {
}

.team {
  background-color: #f4f4fd;
}
.heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}
.team-card {
  padding: 32px 0;
}

.cntr {
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.heading-pr {
  margin-bottom: 72px;
}

.footer-page {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-page-txt {
  display: block;
  color: #f4f4fd;
  max-width: 264px;
}
.logo-light {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.section {
  padding: 120px 0;
}
